<lib-dynamic-layout title="Contact" backURL="/home" [hideDrawer]="true" [hideFilter]="false" [selectMode]="selectMode"
    [filters]="pageFilters" (selectModeChange)="handleSelectModeChange($event)"
    (onFilterUpdate)="handleFilterOptions($event)">
    <ng-container selectaction>
        @if (gridApi && gridApi.getSelectedRows().length > 0){
        <mat-icon (click)="handleContactTagClick()">new_label</mat-icon>
        <mat-icon (click)="handleGroupClick()"><lib-group-logo></lib-group-logo></mat-icon>
        <mat-icon (click)="handleDeleteClick()">delete</mat-icon>
        }
    </ng-container>

    <ng-container gridaction>
        <mat-icon>add</mat-icon>
        <mat-icon [routerLink]="['/contact/addEditGroup']" [queryParams]="{creationType:'tag'}">new_label</mat-icon>
        <mat-icon [matMenuTriggerFor]="groupMenu" (menuOpened)="isGroupMenuOpened=true"
            (menuClosed)="isGroupMenuOpened=false" [ngClass]="{
            'opened': isGroupMenuOpened
        }">
            <lib-group-logo></lib-group-logo>
        </mat-icon>
        <mat-menu #groupMenu="matMenu">
            <div class="menu-container">
                <div class="menu-item text-default" [routerLink]="['/contact/addEditGroup']">
                    <mat-icon>add</mat-icon>
                    <span>Add Group</span>
                </div>
                <div class="menu-item text-default" [routerLink]="['/contact/groups']">
                    <mat-icon>visibility</mat-icon>
                    <span>View Group</span>
                </div>
            </div>
        </mat-menu>
        <mat-icon (click)="triggerSync()">sync</mat-icon>
    </ng-container>

    <ng-container pagebody>
        @if (selectedView) {
        <ag-grid-angular class="table-view ag-theme-balham" [gridOptions]="grid" [rowData]="data"
            [columnDefs]="selectedView.columnDefs" [defaultColDef]="defaultColDef" [groupDefaultExpanded]="1"
            [groupSelectsChildren]="true" rowSelection="multiple" [autoGroupColumnDef]="selectedView.autoGroupColumnDef"
            (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged()">
        </ag-grid-angular>
        }
        @else {
        No view selected
        }
    </ng-container>

    <ng-container pagefooter>

        <!-- View -->
        <div class="views-menu" [ngClass]="{
            'opened': isViewMenuOpened
        }">
            <mat-icon [matMenuTriggerFor]="viewMenu" (menuOpened)="isViewMenuOpened=true"
                (menuClosed)="isViewMenuOpened=false">more_vert</mat-icon>
            <mat-menu #viewMenu="matMenu">
                @for (view of gridViews; track view.viewName) {
                <!-- menu-container -->
                <div class="menu-container text-default" (click)="updateSelectedView(view)" [ngClass]="{
                        'bg-selected-row text-selected-row': selectedView?.viewName === view.viewName
                    }">
                    <div class="menu-item">
                        {{ view.viewName }}
                    </div>
                </div>
                }
            </mat-menu>
        </div>
        <div class="view-current" [matMenuTriggerFor]="viewMenu" (menuOpened)="isViewMenuOpened=true"
            (menuClosed)="isViewMenuOpened=false" [ngClass]="{
            'opened': isViewMenuOpened
        }">
            {{ selectedView?.viewName }}
        </div>

        <div class="spacer"></div>

        @if (allExpanded) {
        <mat-icon (click)="collapseAll()">toggle_off</mat-icon>
        }
        @else {
        <mat-icon (click)="expandAll()">toggle_on</mat-icon>
        }
    </ng-container>
</lib-dynamic-layout>